*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins',sans-serif;
   
}
body{
    background-color: #111;
    animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
@keyframes fadeInAnimation {
  0% {
    opacity: 0;
}
100% {
    opacity: 1;
}
}
html{
  scroll-behavior: smooth;
}
header
 {  position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100000;
    
    background-color: #ffd60a;
    height: 60px;
}

.min h2{
  margin-left: 20px;
    font-size: 25px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 2px;
   
}
.min a{
    text-decoration: none;
}
.min h2 span{
    color: #000;
    font-size: 24px;
}
nav{  
 display: flex;
align-items: center;
 top: 0;
 left: 0;

}
nav ul li{
    margin-right: 20px;
    margin-left: 35px;
    display: inline-block;
    list-style: none;   
}
nav ul li a{   
    transition: .1s linear;
    text-decoration: none;
    font-size: 20px;
    color: #000;
    font-weight: bold;   
}
nav ul li a:hover{
    color: #000; 
    text-shadow: gray;   
}
.about{
    width: 100%;
    background-image: url(assests/abbout.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 450px;
    background-position: 100% 5%;
}
.about h2{
  margin-top: 150px;
   margin-left: 25%;
    color: #ffd60a;
    font-size: 60px;
    position: absolute;
 
}
.about p{
    margin-left: 25%;
    margin-top: 250px;
    font-size: 25px;
    letter-spacing: 2px;
    color: #ffd60a;
    position: absolute;
}
.about button{
    margin-left: 55%;
    width: 200px;
    height: 35px;
    color: #000;
    background-color: #ffd60a;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    margin-top: 300px;
}

/* .service */
.p {
  font-size: 0.9rem;
  margin: 1rem 0;
  line-height: 1.5;
}

#section {
  max-width: 1000px;
  margin: 70px auto;
  text-align: center;
  padding: 30px;

}

#service {

  font-weight: 600;
  color: #fff;
  font-size: 60px;
  margin: 1.3rem 0;
  
}

.section-lead {
  max-width: 600px;
  margin: 1rem auto 1.5rem;
  color: #ffd60a;
}

.service a {
  color: #5b7abb;
  display: block;
}

.service h4 {

  font-weight: 600;
  color: #0000;
  font-size: 1.3rem;
  margin: 1rem 0 0.6rem;
}

.services-grid {
  display: flex;
  align-items: center;
}

.service {
  background: #ffd60a;
  margin: 20px;
  padding: 20px;
  border-radius: 4px;
  text-align: center;
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  border: 2px solid #0000;
  transition: all 0.2s ease-in;
}
.service i {
  font-size: 3.45rem;
  margin: 1rem 0;
}
.service1:hover {
  transform: translateY(-10px);
}
.service2:hover {
    transform: translateY(-10px);
}
.service3:hover {
    transform: translateY(-10px);
}
.service > * {
  flex: 1 1 100%;
}

    /* service-end */

  /* club */

#video{
  width: 100%;
  margin-top: 100px;
  height: 80vh;
  margin-bottom: 100px;
}
#video h2{
  text-align: center;
  color: white;
  font-size: 60px;
  font-weight: 600;
}
#video video{
 display: block;
 margin: auto;
 margin-top: 50px;
 border-radius: 5px;
}
      /* club end */
    /* reviews */

#Reviews{
 
  display: flex;
  width: 100%;
  height: 70vh;
}
#Reviews h2{
  font-weight: 600;
  font-size: 60px;
  color: #fff;
  margin-left: 50px;
  margin-top: 20px;
}
#Reviews h2:after {
  content: "\201D";
  right: 20px;
  bottom: 35px;
  color: #fff;
}

figure.snip1192 {
  position: relative;
  overflow: hidden;
  margin: 10px;
  min-width: 220px;
  max-width: 310px;
  width: 100%;
  color: #000;
  text-align: left;
  box-shadow: none !important;
}

figure.snip1192 img {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  display: inline-block;
  z-index: 1;
  position: relative;
  display: flex;
}

figure.snip1192 blockquote {
  
  display: block;
  border-radius: 8px;
  position: relative;
  background-color: #ffd60a;
  padding: 30px 50px 65px 50px;
  font-size: 0.8em;
  font-weight: 500;
  margin: 0 0 -50px;
  line-height: 1.3em;
 
}

figure.snip1192 blockquote:before,
figure.snip1192 blockquote:after {
  content: "\201C";
  position: absolute;
  font-size: 50px;
  font-style: normal;
}
figure.snip1192 blockquote:before {
  top: 35px;
  left: 20px;
}
figure.snip1192 blockquote:after {
  content: "\201D";
  right: 20px;
  bottom: 35px;
  color: #000;
}
figure.snip1192 .author {
  margin: 0;
  text-transform: uppercase;
  text-align: center;
  color: #ffd60a;
}
figure.snip1192 .author h5 {
  opacity: 0.8;
  margin: 0;
  font-weight: 800;
}
figure.snip1192 .author h5 span {
  font-weight: 400;
  text-transform: none;
  display: block;
}
    /* reviews end */

    /* map */
.map{
  width: 100%;
  margin-top: 20px;
  height: 60vh;
  display: flex;
}
iframe{
  width: 90%;
  height: 100%;
  margin-left: 130px;
}
.map form{
  width: 100%;
  height: 100%;
border-left: none;
margin-left: 50px;

}
form p{
  margin-top: 55px;
  color: white;
  width: 70%;
  margin-bottom: 50px;
}
form input{
  margin-top: 10px;
  width: 250px;
  height: 30px;
  border: 1px solid #ffd60a;
  
  background-color: transparent;
  outline: none;
  color: #fff;
  text-indent: 3px;
}
form textarea {
  resize: none;
  margin-top: 10px;
  width: 250px;
  height: 100px;
  border: 1px solid #ffd60a;
 
  background-color: transparent;
  outline: none;
  color: #fff;
  text-indent: 3px;
}

::placeholder{
  color: #ffd60a;
}
form button{
  margin-top: 5px;
  width: 250px;
  height: 30px;
  background-color: #ffd60a;
  border: none;
  cursor: pointer;
}

/* mapend */

  /* footer */
.row{
	display: flex;
	flex-wrap: wrap;

}

.footer{
	background-color: #000;
    padding: auto;
    padding-top: 20px;
    bottom: 0px;
    margin-top: 50px;
    width: 100%;
    
}
.footer-col{
   width: 25%;
   padding: 0 15px;
}
.footer-col h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #ffd60a;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;

	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #ffd60a;
	padding-left: 8px;
}
.footer-col .social-links{
  margin-top: 25px;
}
.footer-col .social-links #red:hover{
  background-color: #ffd60a;
  color: #000;
}
.footer-col .social-links #blue:hover {
	background-color: #ffd60a;
  color: #000;
}
.footer-col .social-links #blue{
  color: blue;
  display: inline-block;
	height: 40px;
	width: 40px;
  background-color: white;
	margin: 0px 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	transition: all 0.5s ease;
}

.footer-col .social-links #red{
  color: red;
  background-color: #fff;
  display: inline-block;
	height: 40px;
	width: 40px;
	margin: 0px 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	transition: all 0.5s ease;
}

.copy-right{
  color: #000;
  margin-top: 50px;
  padding: 10px;


  background-color: #ffd60a;
}
.copy-right .text-1 a{
  
  font-size: 17px;
  text-decoration: none;
}
.copy-right .text-2{
 float: right;
  color: #000;
}
/* footerend */