*{
    margin: auto;
    padding: auto;
    box-sizing: border-box;
    font-family: 'poppins',sans-serif;
}
.main{
    width: 100%;
    /* height: 60vh; */
    /* background-color: gray; */
}
nav{
    margin-top: 20px;
    width: 100%; 
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: space-between;
    top: 0;
    left: 0;
}
nav .logo{
   
    width: 100px;
    margin: 0;
    margin-left: 20px;
}
nav ul{
   
    margin-left: 400px;
   
}
nav ul li{

    display: inline-block;
    list-style: none;
    
}
nav ul li a{
    margin-left: 100px;
    text-decoration: none;
    font-size: 20px;
    color: white;
    font-weight: bold;
    
}


    /* video */
.bg-video{

    top: 0;
    bottom: 0;
    right:0;
    z-index: -1;
    position: absolute;
   
}
.content{
    text-align: center;
    position: relative;
    padding-top: 40vh;
 
}
.content h1{
    font-size: 100px;
    color: white;
    font-weight: 600;
}
.content a{
    text-decoration: none;
    color: white;
    display: inline-block;
    border-radius: 50px;
    font-size: 24px;
    border: 2px solid white;
    margin-top: 20px;
    padding: 14px 60px;
    align-items: center;
}

     /* hr btn */
.content a:hover{
    background-color: black;
    color: white;
    transition: 0.5s;
}
